@model IEnumerable<grader.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.courseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.courseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.courseCoordinatorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.schoolAdministratorID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseCoordinatorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schoolAdministratorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.courseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.courseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.courseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
