@model grader.Models.ReportQuery

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<h2>Details</h2>
<div>
    <h4>Offence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
Student ID        </dt>
        <dd>
            @Html.DisplayFor(model => model.studentID)
        </dd>
        <dt>
Nature        </dt>
        <dd>
            @Html.DisplayFor(model => model.reportQueryNature)
        </dd>
        <dt>
Reason        </dt>
        <dd>
            @Html.DisplayFor(model => model.reportQueryReason)
        </dd>
        <dt>
Valid        </dt>
        <dd>
            @Html.DisplayFor(model => model.reportQueryValid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.reportQueryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
